.news {
  background-color: var(--main-news-bg);

  &__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__text-box {
    margin-bottom: 30px;
  }

  &__heading {
    margin-bottom: 5px;
    font-weight: var(--main-subtitle-weight);
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.01em;
    color: var(--main-title-color);
  }

  &__paragrph {
    margin-bottom: 0;
    font-weight: var(--main-smoll-weight);
    font-size: 17.7778px;
    line-height: 24px;
    color: var(--main-text-color);
  }


  &__link {
    padding: 16px 28px;
    font-weight: var(--main-smoll-weight);
    font-size: 15.8025px;
    line-height: 150%;
    text-decoration: none;
    color: var(--main-link-color);
    border: 0.987654px solid var(--main-link-color);
    border-radius: 32px;
  }

  &__list {
    justify-content: center;
  }

  &__item {
    max-width: 405px;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    border: 0.97561px solid var(--main-news-bg);
    border-radius: 8px;
    transition: background-color 0.6s ease;

    &:hover {
      background-color: var(--main-corusel-list-bg);
      box-shadow: 0px 4px 14px var(--main-news-shadov);
    }

    &:hover .news__item__link::after {
      background-image: var(--main-readmore-after-hover);
    }

    &__img {
      max-width: 405px;
      width: 100%;
    }

    &__text-box {
      padding: 23px;
    }

    &__box {
      margin-bottom: 15px;
    }

    &__text {
      font-weight: 600;
      font-size: 13.6585px;
      line-height: 150%;
      color: var(--main-title-color);

      &:first-child {
        padding: 4px 7px;
        background-color: var(--main-news-text-bg);
      }
    }

    &__heading {
      margin-bottom: 7px;
      font-weight: var(--main-text-weight);
      font-size: 23.4146px;
      line-height: 140%;
      color: var(--main-title-color);
    }

    &__paragrph {
      margin-bottom: 30px;
      font-family: "Nunito", sans-serif;
      font-weight: var(--main-smoll-weight);
      font-size: 15.6098px;
      line-height: 150%;
      color: var(--main-text-color);
    }

    &__link {
      display: flex;
      align-items: center;
      column-gap: 8px;
      font-weight: 400;
      font-size: 15.6098px;
      line-height: 150%;
      text-decoration: none;
      color: var(--main-link-color);

      &::after {
        display: block;
        width: 12px;
        height: 12px;
        background-image: var(--main-readmore-after);
        background-repeat: no-repeat;
        background-size: 7px;
        content: "";
      }

    }
  }
}

@media only screen and (min-width: 768px) {
  .news__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .news__heading {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 120%;
  }

  .news__paragrph {
    font-size: 17.7778px;
    line-height: 150%;
  }
}

@media only screen and (min-width: 850px) {
  .news__list {
    justify-content: space-between;
  }
}